@using BTCPayApp.UI.Pages
@using BTCPayApp.UI.Features

<div class="form-group">
    <label class="form-label">Theme</label>
    <InputSelect class="form-select w-auto" @bind-Value="ThemeMode">
        <option value="@Constants.SystemTheme">System</option>
        <option value="@Constants.LightTheme">Light</option>
        <option value="@Constants.DarkTheme">Dark</option>
    </InputSelect>
</div>


@code {
    [Parameter]
    public string Theme { get; set; } = Constants.SystemTheme;

    [Parameter]
    public EventCallback<string> OnThemeChange { get; set; }

    private string ThemeMode
    {
        get => Theme;
        set => OnThemeChange.InvokeAsync(value);
    }
}
