Comrade.Maui/bin
Comrade.Server/bin
Comrade.Server/obj
Comrade.UI/bin
Comrade.UI/obj
Comrade.Maui/obj
.idea
Comrade.Photino/bin
Comrade.Photino/obj
Comrade.Core/bin
Comrade.Core/obj
Comrade.Desktop/obj
Comrade.Desktop/bin
Comrade.Desktop/obj
