BTCPayApp.Maui/bin
BTCPayApp.Server/bin
BTCPayApp.Server/obj
BTCPayApp.UI/bin
BTCPayApp.UI/obj
BTCPayApp.Maui/obj
.idea
BTCPayApp.Photino/bin
BTCPayApp.Photino/obj
BTCPayApp.Core/bin
BTCPayApp.Core/obj
BTCPayApp.Desktop/obj
BTCPayApp.Desktop/bin
BTCPayApp.Desktop/obj
**/bin
**/obj
