.dropdown-menu {
  margin-left: -1rem !important;
}

.dropdown-item {
  --btcpay-dropdown-item-padding-y: var(--btcpay-space-s);
}

::deep .profile-picture {
  --profile-picture-size: 1.25rem;
  margin-right: var(--btcpay-space-s);
}
