<div class="alert alert-@Type mb-@(Margin) text-break @(Dismissible ? "alert-dismissible" : null)" role="alert">
    @ChildContent
    @if (Dismissible)
    {
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <Icon Symbol="close" />
        </button>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }

    [Parameter, EditorRequired]
    public string? Type { get; set; }

    [Parameter]
    public bool Dismissible { get; set; }

    [Parameter]
    public int Margin { get; set; } = 4;
}
