@using System.Linq.Expressions
@implements IDisposable
@{
    if (For == null) return;
    var messages = EditContext.GetValidationMessages(For);
    foreach (var message in messages)
    {
        <div class="text-danger">@message</div>
    }
}

@code {
    [CascadingParameter]
    public EditContext EditContext { get; set; } = null!;

    [Parameter]
    public Expression<Func<object>>? For { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        EditContext.OnValidationStateChanged += EditContextOnOnValidationStateChanged;
    }

    private void EditContextOnOnValidationStateChanged(object? sender, ValidationStateChangedEventArgs e)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        EditContext.OnValidationStateChanged -= EditContextOnOnValidationStateChanged;
    }
}
