a {
  display: block;
  color: var(--btcpay-body-text);
}
.invoice .badge-container {
  flex: 0 0 5.125rem;
  text-align: right;
}

@media (max-width: 359px) {
  .invoice .badge-container {
    flex-grow: 1;
  }
}
