.invoice-item {
  --gap: var(--btcpay-space-s);
  --item-width: 25%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
  color: var(--btcpay-body-text);
}

.invoice-item > span {
  flex: 1 1 calc(var(--item-width) - var(--gap));
}

@media (max-width: 767.98px) {
  .invoice-item {
    --item-width: 50%;
  }
  .invoice-item > span:nth-child(2) {
    text-align: right;
  }
}
