/* modes */
#ModeTabs {
  min-height: 2.75rem;
}

.btcpay-pills label,
.btn-secondary.rounded-pill {
  padding-left: 1rem;
  padding-right: 1rem;
}

#Calculation {
  min-height: 1.5rem;
}

#RecentTransactionsToggle {
  position: absolute;
  top: var(--btcpay-space-l);
  left: var(--btcpay-space-m);
  z-index: 1;
}

#RecentTransactionsRefresh[disabled] .icon {
  animation: 1.25s linear infinite spinner-border;
}
#RecentTransactions .list-group {
  margin: calc(var(--btcpay-modal-padding) * -1);
  width: calc(100% + var(--btcpay-modal-padding) * 2);
}

#RecentTransactions .list-group-item {
  background-color: transparent;
}

#RecentTransactions .list-group .badge-container {
  flex: 0 0 5.125rem;
  text-align: right;
}

@media (max-width: 359px) {
  #RecentTransactions .list-group .badge-container {
    flex-grow: 1;
  }
}

/* fix sticky hover effect on mobile browsers */
@media (hover: none) {
  .actions .btn-secondary:hover {
    border-color: var(--btcpay-secondary-border-active) !important;
  }
}
