<div class="spinner-border spinner-border-sm @InputAttributes?["class"]" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? InputAttributes { get; set; }
}

