@using BTCPayApp.UI.Features

<div class="form-group">
    <label class="form-label">Theme</label>
    <InputSelect class="form-select w-auto" @bind-Value="ThemeMode">
        <option value="@Themes.System">System</option>
        <option value="@Themes.Light">Light</option>
        <option value="@Themes.Dark">Dark</option>
    </InputSelect>
</div>

@code {
    [Parameter]
    public string Theme { get; set; } = Themes.System;

    [Parameter]
    public EventCallback<string> OnThemeChange { get; set; }

    private string ThemeMode
    {
        get => Theme;
        set => OnThemeChange.InvokeAsync(value);
    }
}
