.store-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--btcpay-space-s);
}

.store-logo {
  --logo-size: 3rem;
  --logo-bg: transparent;
  --logo-radius: 0;

  max-height: var(--logo-size);
  background: var(--logo-bg);
  border-radius: var(--logo-radius);
}

.store-name {
  font-size: 1.3rem;
}
