.store-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--btcpay-space-m);
  margin-top: auto;
  color: var(--btcpay-body-text-muted);
  padding: 1.5rem 1.5rem 0;
}
.store-footer,
.store-footer a {
  color: var(--btcpay-body-text-muted);
}
a.store-powered-by {
  display: flex;
  align-items: center;
  gap: var(--btcpay-space-s);
  transition-duration: unset;
}
a.store-powered-by svg {
  height: 2rem;
  width: 4rem;
}
.store-footer a:hover,
a.store-powered-by:hover {
  color: var(--btcpay-body-text-hover);
}
a.store-powered-by:hover .logo-brand-light {
  color: var(--btcpay-brand-secondary);
}
a.store-powered-by:hover .logo-brand-medium {
  color: var(--btcpay-brand-primary);
}
a.store-powered-by:hover .logo-brand-dark {
  color: var(--btcpay-brand-tertiary);
}
