.dropdown-menu {
  margin-left: -1rem !important;
}

.dropdown-item {
  --btcpay-dropdown-item-padding-y: var(--btcpay-space-s);
}

::deep .profile-picture {
  --profile-picture-size: 3rem;
  margin-right: var(--btcpay-space-s);
}


.user {

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--btcpay-space-m);
  color: var(--btcpay-nav-link-color);
  font-weight: var(--btcpay-font-weight-semibold);
}

.user:hover {
  color: var(--btcpay-nav-link-hover-color);
}

.user h5 {
  font-weight: var(--btcpay-font-weight-semibold);
  margin-bottom: var(--btcpay-space-xs);
}

.user ::deep .icon-caret-right {
  margin-left: auto;
  color: var(--btcpay-body-text-muted);
}
