.user-list .user-item {
  --gap: var(--btcpay-space-s);
  --item-width: 25%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0 !important;
  gap: var(--gap);
  color: var(--btcpay-body-text);
}

.user-list .user-item + .user-item {
  margin-top: var(--btcpay-space-xs);
}
