.user-list .user-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--btcpay-space-s);
  margin-bottom: 0 !important;
  color: var(--btcpay-body-text);
}

.user-list .user-item + .user-item {
  margin-top: var(--btcpay-space-xs);
}

@media (min-width: 400px) {
  .user-list .user-item {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
