@attribute [AllowAnonymous]
@attribute [Route(Routes.WalletSend)]
@using BTCPayApp.UI.Components.Layout
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Send</PageTitle>

<SectionContent SectionId="_Layout.Top">
    <Titlebar Back>
        <h1>Send</h1>
    </Titlebar>
</SectionContent>
<section class="container">

</section>

@code {
    private WalletSendModel Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private class WalletSendModel
    {
    }
}
