@attribute [Route(Routes.Index)]
@using BTCPayApp.Core.BTCPayServer
@inherits SignedOutBasePage
@inject BTCPayConnectionManager ConnectionManager
@layout BaseLayout

@if (!string.IsNullOrEmpty(LoadingState))
{
    <PageTitle>@LoadingState</PageTitle>
    <style>#NavbarBottom { display: none; }</style>
    <section class="container">
        <LoadingIndicator Size="lg"/>
        <div class="fs-4">@LoadingState</div>
    </section>
}

@code {
    private string? LoadingState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        LoadingState = ConnectionManager.ConnectionState is BTCPayConnectionState.Connecting or BTCPayConnectionState.Syncing
            ? ConnectionManager.ConnectionState.ToString()
            : null;

        await RedirectForAuthState();
    }
}
