.container {
  max-width: 560px;
  padding-top: var(--btcpay-space-l);
  padding-bottom: var(--btcpay-space-l);
}

.loading-container {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--btcpay-space-m);
}

iframe {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* fallback for older webviews */
  height: calc(100% - var(--navbar-bottom-height));
}
