@using Microsoft.Extensions.Logging
@attribute [Route(Routes.Connect)]
@attribute [AllowAnonymous]
@layout SimpleLayout
@inject IJSRuntime JS
@inject ILogger<ConnectPage> Logger
@inject NavigationManager NavigationManager

<PageTitle>Connect to a server</PageTitle>

<EditForm Model="Model" OnValidSubmit="HandleValidSubmit" FormName="ConnectServer" method="post">
    <DataAnnotationsValidator />
    <h1>Connect to a server</h1>
    <p>
        A server is your .. accessed using a unique URL.
        Enter or scan your server URL or invite link.
    </p>
    <div class="mb-3">
        <label for="Uri" class="form-label visually-hidden">Server URL or invite link</label>
        <div class="d-flex align-items-center justify-content-between gap-3">
            <InputText @bind-Value="Model.Uri" id="Uri" class="form-control flex-grow-1" placeholder="Enter server URL or invite link"/>
            <button type="button" class="btn btn-secondary px-3" data-testid="ScanButton" data-bs-toggle="modal" data-bs-target="#ScanQrCodeModal">
                <Icon symbol="scan-qr"/>
            </button>
        </div>
        <ValidationMessage For="@(() => Model.Uri)" />
    </div>
    <button type="submit" class="btn btn-primary w-100" data-testid="ConnectButton">Connect</button>
</EditForm>

<QrScanModal OnScan="@OnQrCodeScan"/>

@code {
    ConnectModel Model { get; set; } = new();

    private void HandleValidSubmit()
    {
        var loginUri = NavigationManager.GetUriWithQueryParameters(Routes.Login, new Dictionary<string, object?> { {"serverUrl", Model.Uri } } );
        NavigationManager.NavigateTo(loginUri);
    }

    private void OnQrCodeScan(string code)
    {
        Logger.LogInformation("QrCode = {QrCode}", code);
        Model.Uri = code;
        StateHasChanged();
        JS.InvokeVoidAsync("Interop.closeModal", "#ScanQrCodeModal");
    }

    private class ConnectModel
    {
        [Url]
        [Required]
        public string? Uri { get; set; }
    }
}
