@page "/Counter"
@using BTCPayApp.UI.Features
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

@if(CounterState.Value.Loading)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <MudText>Current count: @CounterState.Value.ClickCount</MudText>
    
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="IncrementCount">Increment</MudButton>
}

@code {

    [Inject]
    private IState<CounterState> CounterState { get; set; } = null!;

    [Inject]
    public IDispatcher Dispatcher { get; set; } = null!;

    private void IncrementCount()
    {
        Dispatcher.Dispatch(new CounterState.IncrementCounterAction());
    }

}
