header {
  height: var(--navbar-top-height);
  padding: .75rem var(--btcpay-space-m);
}

h2 {
  font-size: var(--btcpay-font-size-m);
  font-weight: var(--btcpay-font-weight-semibold);
}

.wallet a.btn {
  width: 10rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--btcpay-space-s);
}

.notifications a.btn ::deep .icon,
.wallet a.btn ::deep .icon {
  --icon-size: 1.5rem;
}
