@attribute [Route(Routes.EnterPasscode)]
@layout BaseLayout
@using BTCPayApp.UI.Components.Layout
@using Plugin.Fingerprint.Abstractions
@inject IFingerprint Fingerprint
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Enter Passcode</PageTitle>

<SectionContent SectionId="_Layout.Top">
    <Titlebar Close="true" Fixed="false">
        <h1>Enter Passcode</h1>
    </Titlebar>
</SectionContent>

<section class="container">
    <Passcode id="Passcode" />
</section>

@code {
    private PasscodeModel Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        if (await Fingerprint.IsAvailableAsync())
        {
            var request = new AuthenticationRequestConfiguration("Unlock BTCPay", "Alternatively you can provide your passcode.");
            var result = await Fingerprint.AuthenticateAsync(request);
            if (result.Authenticated)
            {
                // do secret stuff :)
            }
        }
    }

    private class PasscodeModel
    {
        [Required]
        [DataType(DataType.Password)]
        public string Passcode { get; set; } = "";
    }

    private string GetValue() => Model.Passcode;

    private void SetValue(string val)
    {
        Model.Passcode = val;
    }
}
