@attribute [Route(Routes.Error)]
@attribute [AllowAnonymous]
@layout SimpleLayout

<PageTitle>@Title</PageTitle>

<div class="text-center">
    <h1>@Title</h1>
    <Alert Type="danger" Margin="5">@Message</Alert>
    <NavLink class="btn btn-primary w-100" href="@Routes.Index" onclick="history.back();return false;" data-testid="GoBackButton">Go Back</NavLink>
</div>

@code {
    [Parameter, EditorRequired, SupplyParameterFromQuery]
    public string? Title { get; set; }

    [Parameter, EditorRequired, SupplyParameterFromQuery]
    public string? Message { get; set; }
}
