@attribute [AllowAnonymous]
@layout SimpleLayout

<PageTitle>@Title</PageTitle>

<div class="text-center">
    <h1 class="h2 mb-3">@Title</h1>
    <p class="text-secondary fs-5 mb-5">@Message</p>
    <NavLink class="btn btn-primary w-100" href="@Routes.Index" data-testid="GoBackButton">Go Back</NavLink>
</div>

@code {
    [Parameter, EditorRequired]
    public string Title { get; set; }

    [Parameter, EditorRequired]
    public string Message { get; set; }
}
