@attribute [Route(Routes.Invoices)]
@using BTCPayApp.CommonServer.Models
@using BTCPayApp.UI.Components.Layout
@using BTCPayApp.Core.Auth
@using BTCPayApp.UI.Features
@using BTCPayServer.Client.Models
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IAccountManager AccountManager
@inject IDispatcher Dispatcher
@inject IState<StoreState> StoreState

<PageTitle>Invoices</PageTitle>

<section class="container py-4">
    <header class="d-flex align-items-center justify-content-between gap-3 mb-4">
        @if (Store is not null)
        {
            <h1>Invoices</h1>
            <div class="d-flex align-items-center gap-1">
                <button type="button" class="btn-icon" @onclick="LoadInvoices" disabled="@Loading">
                    @if (Loading)
                    {
                        <LoadingIndicator/>
                    }
                    else
                    {
                        <Icon Symbol="actions-refresh"/>
                    }
                </button>
            </div>
        }
    </header>

@if (Store is null)
{
    <Alert Type="info">Please configure a store first.</Alert>
}
@if (!string.IsNullOrEmpty(Error))
{
    <Alert Type="danger">@Error</Alert>
}
@if (Invoices is not null)
{
    @if (Invoices.Any())
    {
        @foreach (var i in Invoices)
        {
            <div class="box mb-1">
                <InvoiceItem Invoice="@i"/>
            </div>
        }
    }
    else
    {
        <div class="box">
            <p class="text-muted text-center py-4">There are no invoices, yet.</p>
        </div>
    }
}
</section>

@code {
    private void LoadInvoices()
    {
        if (Store is not null)
            Dispatcher.Dispatch(new StoreState.FetchInvoices(Store.Id));
    }

    private AppUserStoreInfo? Store => AccountManager.GetCurrentStore();
    private IEnumerable<InvoiceData>? Invoices => StoreState.Value.Invoices?.Data;
    private bool Loading => StoreState.Value.Invoices?.Loading is true;
    private string? Error => StoreState.Value.Invoices?.Error;
}
