@attribute [Route(Routes.Loading)]
@attribute [AllowAnonymous]

<PageTitle>@Title</PageTitle>

<section class="container">
    <LoadingIndicator Size="lg" />
    @if (!string.IsNullOrEmpty(Message))
    {
        <div class="fs-4">@Message</div>
    }
</section>

@code {
    [Parameter, EditorRequired, SupplyParameterFromQuery]
    public string Title { get; set; } = "Loading";

    [Parameter, SupplyParameterFromQuery]
    public string? Message { get; set; }
}
