@attribute [Route(Routes.Notifications)]
@using BTCPayApp.Core.Auth
@using BTCPayApp.UI.Components.Layout
@using BTCPayApp.UI.Features
@using BTCPayServer.Client.Models
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IAccountManager AccountManager
@inject IDispatcher Dispatcher
@inject IState<StoreState> StoreState

<PageTitle>Notifications</PageTitle>

<SectionContent SectionId="_Layout.Top">
    <Titlebar Back>
        <SectionContent SectionId="Titlebar.End">
            <button type="button" class="btn-icon" @onclick="LoadNotifications" disabled="@Loading">
                @if (Loading)
                {
                    <LoadingIndicator/>
                }
                else
                {
                    <Icon Symbol="actions-refresh"/>
                }
            </button>
        </SectionContent>
        <h1>Notifications</h1>
    </Titlebar>
</SectionContent>

@if (!string.IsNullOrEmpty(Error))
{
    <section class="container">
        <Alert Type="danger">@Error</Alert>
    </section>
}
@if (Notifications is not null)
{
    @if (Notifications.Any())
    {
        <div class="notifications">
            @foreach (var n in Notifications)
            {
                <NotificationItem Notification="@n"/>
            }
        </div>
    }
    else
    {
        <section class="container">
            <div class="box">
                <p class="text-muted text-center py-4">There are no notifications, yet.</p>
            </div>
        </section>
    }
}

@code {
    private void LoadNotifications()
    {
        var storeId = AccountManager.GetCurrentStore()!.Id;
        if (storeId != null)
            Dispatcher.Dispatch(new StoreState.FetchNotifications(storeId));
    }

    private IEnumerable<NotificationData>? Notifications => StoreState.Value.Notifications?.Data;
    private bool Loading => StoreState.Value.Notifications?.Loading is true;
    private string? Error => StoreState.Value.Notifications?.Error;
}
