@attribute [Route(Routes.PointOfSale)]
@layout SimpleLayout
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Point Of Sale</PageTitle>

<div class="public-page-wrap">
    <Keypad CurrencyDivisibility="2" CurrencySymbol="€" CurrencyCode="EUR"
            IsDiscountEnabled="true" IsTipEnabled="true" CustomTipPercentages="new []{ 5, 10, 21 }" />
</div>
