.container {
  --container-max-width: 28rem;

  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--btcpay-space-m);
  margin-bottom: calc(var(--cta-container-bottom) + var(--btcpay-space-xl));
}

.container ::deep .alert {
  width: 100%;
  max-width: var(--container-max-width);
}

.container ::deep #pay-button {
  width: calc(100% - 2rem);
  max-width: var(--container-max-width);
  position: fixed;
  bottom: calc(var(--cta-container-bottom) + var(--btcpay-space-l));
}

.keypad-wrap {
  width: 100%;
  max-width: var(--container-max-width);
  overflow: hidden;
  position: relative;
  flex: 1 0 100%;
  display: flex;
  align-items: center;
}

#MainContent > section.container:last-child > :last-child {
  margin: auto 0 auto !important;
}
