.container {
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container ::deep .alert {
  width: 100%;
  align-self: start;
  margin-top: 1.5rem;
}

.loading-container {
  min-height: -webkit-fill-available;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--btcpay-space-m);
}

/*iframe {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100dvh - var(--navbar-bottom-height));
}*/
