@attribute [Route(Routes.PointOfSale)]
@layout SimpleLayout
@using System.Globalization
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Point Of Sale</PageTitle>

<div class="public-page-wrap">
    <Keypad CurrencyInfo="@CurrencyInfo" CurrencyCode="EUR"
            IsDiscountEnabled="true" IsTipEnabled="true" CustomTipPercentages="new []{ 5, 10, 21 }" />
</div>

@code {
    public NumberFormatInfo CurrencyInfo { get; set; } = new()
    {
        CurrencySymbol = "\u20ac",
        CurrencyDecimalDigits = 2,
        CurrencyDecimalSeparator = ",",
        CurrencyGroupSeparator = "."
    };
}
