.container {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--btcpay-space-m);
}

.container ::deep .alert {
  width: 100%;
  max-width: 500px;
}

.keypad-wrap {
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  flex: 1 0 100%;
  display: flex;
  align-items: center;
}

#MainContent > section.container:last-child > :last-child {
  margin: auto 0 auto !important;
}

.loading-container {
  min-height: -webkit-fill-available;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--btcpay-space-m);
}
