@attribute [Route(Routes.PointOfSale)]
@using System.Globalization
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Point Of Sale</PageTitle>

<section class="container">
    <Keypad CurrencyInfo="@CurrencyInfo" CurrencyCode="EUR"
            IsDiscountEnabled="true" IsTipEnabled="true" CustomTipPercentages="new []{ 5, 10, 21 }" />
</section>

@code {
    private NumberFormatInfo CurrencyInfo { get; set; } = new()
    {
        CurrencySymbol = "\u20ac",
        CurrencyDecimalDigits = 2,
        CurrencyDecimalSeparator = ",",
        CurrencyGroupSeparator = "."
    };
}
