@attribute [AllowAnonymous]
@attribute [Route(Routes.Settings)]
@using BTCPayApp.UI.Features
@inject IState<UIState> UiState
@inject IDispatcher Dispatcher
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Settings</PageTitle>

<h1 class="mb-3">Settings</h1>

<Settings Theme="@UiState.Value.SelectedTheme" OnThemeChange="theme => Dispatcher.Dispatch(new UIState.ApplyUserTheme(theme))" />
