@attribute [Route(Routes.WalletSetup)]
@inject IDispatcher Dispatcher
@using BTCPayApp.UI.Features
@using BTCPayApp.Core
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Wallet Setup</PageTitle>

<h1 class="mb-3">Wallet Setup</h1>

<WalletSetup OnSeedChosen="SetSeed" />

@code {
    private void SetSeed(string mnemonic)
    {
        if (string.IsNullOrEmpty(mnemonic)) return;

        Dispatcher.Dispatch(new RootState.WalletConfigChangeRequestedAction(new WalletConfig
        {
            Mnemonic = mnemonic
        }));
    }
}
