@attribute [Route(Routes.WalletSetup)]
@inject IDispatcher Dispatcher
@using BTCPayApp.UI.Features
@using BTCPayApp.Core
@using BTCPayApp.UI.Components.Layout
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Wallet Setup</PageTitle>

<SectionContent SectionName="top">
    <Titlebar Back="@Routes.Dashboard">
        <h1>Wallet Setup</h1>
    </Titlebar>
</SectionContent>

<section class="container">
    <WalletSetup OnSeedChosen="SetSeed" />
</section>

@code {
    private void SetSeed(string mnemonic)
    {
        if (string.IsNullOrEmpty(mnemonic)) return;

        Dispatcher.Dispatch(new RootState.WalletConfigChangeRequestedAction(new WalletConfig
        {
            Mnemonic = mnemonic
        }));
    }
}
