@inherits Fluxor.Blazor.Web.Components.FluxorLayout

<div id="BaseLayout" class="layout">
    <SectionOutlet SectionName="top" />
    <main id="MainContent">
        <SectionOutlet SectionName="main-top" />
        @Body
        <SectionOutlet SectionName="main-bottom" />
    </main>
    <SectionOutlet SectionName="bottom" />
</div>
