@using BTCPayApp.UI.Components.Layout
@inherits Fluxor.Blazor.Web.Components.FluxorLayout

<div id="MainLayout" class="min-vh-100">
    <NavbarBottom />
    <main id="MainContent">
        <SectionOutlet SectionName="main-top" />
        @Body
    </main>
</div>
