#MainLayout {
  min-height: -webkit-fill-available;
  min-height: 100dvh;
  scroll-padding-top: calc(var(--sticky-header-height) + var(--btcpay-space-m));
}

@media (max-width: 991px) {
  #MainLayout {
    /* Prevent anchors from disappearing underneath the fixed header */
    scroll-padding: var(--content-padding-top);
  }
}
