/* Breakpoints:
   XS <576px
   SM ≥576px
   MD ≥768px
   LG ≥992px
   XL ≥1200px */

#MainLayout {
  --mobile-header-height: 4rem;
  --desktop-header-height: 8rem;
  --sidebar-width: 280px;
  --sticky-header-height: 0; /* gets dynamically set via JavaScript */

  min-height: 100vh;
  scroll-padding-top: calc(var(--sticky-header-height) + var(--btcpay-space-m));
}

/* Main Menu */
#MainMenu {
  --button-width: 40px;
  --button-height: 40px;
  --button-padding: 7px;
  --icon-size: 1.5rem;
  --menu-border: 1px solid var(--btcpay-body-border-light);
  height: var(--header-height);
  z-index: 1031; /* needs a value between fixed and the offcanvas backdrop, see https://getbootstrap.com/docs/5.1/layout/z-index/ */
}

#MainMenuHead  {
  display: flex;
  align-items: center;
}

#MainMenuHead .mainMenuButton {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--button-width);
  height: var(--button-height);
  padding: var(--button-padding);
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: var(--btcpay-body-text-muted);
}

#MainNav {
  --btcpay-scrollbar-color: var(--btcpay-neutral-400);
  height: calc(100vh - var(--mobile-header-height));
  overflow-y: auto;
  padding-top: var(--btcpay-space-m);
}

::deep #MainNav .nav-item svg.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: var(--btcpay-space-xs);
}

#MainNav .accordion-button {
  padding: var(--btcpay-space-s) 0;
  text-transform: uppercase;
  color: var(--btcpay-body-text-muted);
  font-weight: var(--btcpay-font-weight-semibold);
}

#MainNav .accordion-item {
  border: none !important;
}

#MainNav .navbar-nav > li.nav-item .nav-link {
  display: inline-flex;
  align-items: center;
  font-weight: var(--btcpay-font-weight-semibold);
  color: var(--btcpay-header-link);
  transition-property: color;
  transition-duration: var(--btcpay-transition-duration-fast);
}

#MainNav .navbar-nav > li.nav-item .nav-link .icon {
  flex-shrink: 0;
}

#MainNav .navbar-nav > li.nav-item-sub {
  padding-left:calc(1.5rem + var(--btcpay-space-xs))
}

#MainNav .navbar-nav > li.nav-item .nav-link span {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#MainNav .navbar-nav > li.nav-item .nav-link:focus,
#MainNav .navbar-nav > li.nav-item .nav-link:hover {
  color: var(--btcpay-header-link-accent);
}

#MainNav .navbar-nav > li.nav-item .nav-link.active,
#MainNav .navbar-nav > li.nav-item .nav-link.active:focus,
#MainNav .navbar-nav > li.nav-item .nav-link.active:hover {
  color: var(--btcpay-header-link-active);
}

#MainNavSettings {
  margin-top: auto;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
  color: inherit;
}

.btcpay-header {
  color: var(--btcpay-header-text);
  background: var(--btcpay-header-bg);
}

#MainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#MainContent > section {
  flex: 1;
  padding: var(--content-padding-top) var(--content-padding-horizontal) var(--content-padding-bottom);
}

/* Logo */
#MainMenuHead .main-logo {
  display: inline-block;
  height: 2rem;
}

@media (max-width: 575px) {
  #MainMenuHead .main-logo-custom {
    max-width: 25vw;
  }

  #MainMenuHead .main-logo-btcpay {
    width: 1.125rem;
  }

  #MainMenuHead .main-logo-btcpay .main-logo-btcpay--large {
    display: none;
  }
}

@media (min-width: 576px) {
  #MainMenuHead .main-logo-custom {
    max-width: 10.5rem;
  }

  #MainMenuHead .main-logo-btcpay {
    width: 4.625rem;
  }

  #MainMenuHead .main-logo-btcpay .main-logo-btcpay--small {
    display: none;
  }
}

@media (max-width: 991px) {
  #MainLayout {
    --header-height: var(--mobile-header-height);
    --content-padding-top: calc(var(--header-height) + var(--btcpay-space-m));
    --content-padding-bottom: var(--btcpay-space-xl);
    --content-padding-horizontal: var(--btcpay-space-m);

    /* Prevent anchors from disappearing underneath the fixed header */
    scroll-padding: var(--content-padding-top);
  }

  #MainMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: var(--menu-border);
  }

  #MainMenuHead  {
    padding: var(--btcpay-space-s) var(--btcpay-space-m);
  }

  #MainNav {
    position: fixed;
    top: var(--mobile-header-height);
    bottom: 0;
    left: 0;
    width: var(--sidebar-width);
    z-index: 1045;
    border-right: var(--menu-border);
    color: var(--btcpay-body-text);
    background-color: inherit;
    background-clip: padding-box;
    outline: 0;
    transform: translateX(-100%);
    transition: transform var(--btcpay-transition-duration-fast) ease-in-out;
    /* Fixes https://github.com/btcpayserver/btcpayserver/issues/3807 */
    height: calc(100vh - var(--mobile-header-height)); /* This line is a fallback for browsers which don't support "fill-available" */
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
    /* Since we can't do "calc(fill-available - var(--mobile-header-height));" I'm using "padding-bottom" instead */
    padding-bottom: var(--mobile-header-height);
    /* END FIX */
  }

  #MainNav.show {
    transform: none;
  }

  ::deep #MainMenu .offcanvas-backdrop {
    top: var(--mobile-header-height);
    transition-duration: var(--btcpay-transition-duration-fast);
  }

  #MainMenuToggle {
    --line-thickness: 2px;
    --transition-easing: ease-in-out;
    --transition-duration: var(--btcpay-transition-duration-fast);

    flex: 0 0 var(--button-width);
    margin-right: var(--btcpay-space-s);
    margin-left: calc(var(--button-padding) * -1);
  }

  #MainMenuToggle span {
    position: relative;
    display: inline-block;
    width: calc(var(--button-width) - var(--button-padding) * 2);
    height: calc(var(--button-height) - (var(--button-padding) * 2) - (var(--line-thickness) * 4));
    border-top: var(--line-thickness) solid;
    border-bottom: var(--line-thickness) solid;
    color: var(--btcpay-body-text-muted);
    font-size: 0;
    transition: all var(--transition-duration) var(--transition-easing);
  }

  #MainMenuToggle span:before,
  #MainMenuToggle span:after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: var(--line-thickness);
    top: 50%;
    left: 50%;
    background: currentColor;
    transform: translate(-50%, -50%);
    transition: transform var(--transition-duration) var(--transition-easing);
  }

  #MainMenuToggle:hover span {
    color: var(--btcpay-header-text);
  }

  #MainMenuToggle[aria-expanded="true"] span {
    border-color: transparent;
  }

  #MainMenuToggle[aria-expanded="true"] span:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  #MainMenuToggle[aria-expanded="true"] span:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@media (min-width: 992px) {
  #MainLayout {
    --header-height: var(--desktop-header-height);
    --content-padding-top: 5rem;
    --content-padding-bottom: 5rem;
    --content-padding-horizontal: 5rem;
  }

  #MainMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100vh;
    border-right: var(--menu-border);
  }

  #MainMenuHead {
    flex-wrap: wrap;
    padding: var(--btcpay-space-m) 1.5rem;
  }

  #MainMenuToggle,
  ::deep #MainMenu .offcanvas-backdrop {
    display: none !important;
  }

  #MainContent {
    margin-left: var(--sidebar-width);
  }

  ::deep #MainContent pre {
    max-width: calc(100vw - var(--sidebar-width) - (2 * var(--btcpay-space-xl)) - 1rem); /* 1rem for scrollbar */
  }

  #MainContent > section {
    margin: 0;
    max-width: none;
  }

  ::deep #MainContent > section .w-100-fixed {
    /* constrains the content to respect the maximum width and enable responsive tables */
    width: calc(100vw - var(--sidebar-width) - var(--content-padding-horizontal) * 2);
  }
}

@media (min-width: 992px) and (max-height: 799px) {
  #MainLayout {
    --content-padding-top: 1.25rem;
  }
}
