@inherits _Layout

<div id="SimpleLayout" class="layout">
    <SectionOutlet SectionId="Top" />
    <main id="MainContent">
        <div class="container">
            <SectionOutlet SectionId="MainTop"/>
            @Body
            <SectionOutlet SectionId="MainBottom"/>
        </div>
    </main>
    <SectionOutlet SectionId="Bottom" />
</div>
