#SimpleLayout {
  --logo-height: 5rem;
  --padding-vertical: 12.5vh;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 24rem;
  padding-top: var(--padding-vertical);
  padding-bottom: 3rem;
}
.logo {
  display: block;
  height: var(--logo-height);
  margin-left: auto;
  margin-right: auto;
}
::deep h1 {
  margin-bottom: 1.5rem;
  font-size: calc(1.3rem + 0.6vw);
  text-align: center;
}
@media (min-height: 54rem) {
  .container {
    --padding-vertical: 20vh;
  }
}
