.container {
  --logo-height: 5rem;

  max-width: 24rem;
}
.logo {
  display: block;
  height: var(--logo-height);
  margin-left: auto;
  margin-right: auto;
}
@media (min-height: 65rem) {
  .logo {
    margin-top: calc(var(--logo-height) * -1);
  }
}
