@using BTCPayApp.CommonServer.Models
@using BTCPayApp.UI.Features
@inherits _Layout
@inject IState<UIState> UIState

<div id="SimpleLayout" class="layout">
    <SectionOutlet SectionId="Top" />
    <main id="MainContent">
        <div class="container">
            @if (!string.IsNullOrEmpty(InstanceInfo?.LogoUrl))
            {
                <div>
                    <img src="@InstanceInfo?.LogoUrl" alt="@(InstanceInfo?.ServerName ?? "BTCPay Server")" class="logo" />
                </div>
            }
            else
            {
                <img src="_content/BTCPayApp.UI/img/logo-symbol.svg" alt="BTCPay Server" class="logo"/>
            }
            <SectionOutlet SectionId="MainTop"/>
            @Body
            <SectionOutlet SectionId="MainBottom"/>
        </div>
    </main>
    <SectionOutlet SectionId="Bottom" />
</div>

@code {
    private AppInstanceInfo? InstanceInfo => UIState.Value.Instance?.Data;
}
