@inherits Fluxor.Blazor.Web.Components.FluxorLayout

<div id="SimpleLayout" class="container py-5 min-vh-100 d-flex flex-column justify-content-center gap-4">
    <svg xmlns="http://www.w3.org/2000/svg" role="img" alt="BTCPay Server" class="logo">
        <use href="_content/BTCPayApp.UI/img/logo.svg#small"/>
    </svg>
    <main>
        <SectionOutlet SectionName="main-top" />
        @Body
    </main>
</div>
