:root {
  --sticky-header-height: 0; /* gets dynamically set via JavaScript */
  --navbar-top-height: 3.25rem;
  --navbar-bottom-height: 3.25rem;
  --sidebar-width: 280px;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

:focus {
  outline: none;
}

[aria-expanded] > svg.icon-caret-down {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
}

[aria-expanded="true"] > svg.icon-caret-down {
  transform: rotate(-180deg);
}

/* Layout */
#Titlebar.fixed ~ #MainContent,
#NavbarTop ~ #MainContent {
  padding-top: var(--navbar-top-height);
}

#NavbarBottom ~ #MainContent {
  padding-bottom: var(--navbar-bottom-height);
}

.public-page-wrap {
  --wrap-max-width: none;
  --wrap-padding-vertical: var(--btcpay-space-l);
  --wrap-padding-horizontal: var(--btcpay-space-m);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: var(--wrap-max-width);
  margin: 0 auto;
  padding: var(--wrap-padding-vertical) var(--wrap-padding-horizontal);
}

.layout,
.min-vh-100,
.public-page-wrap {
  min-height: -webkit-fill-available !important;
  min-height: 100dvh !important;
}

.tile {
  --section-padding: 1.5rem;
  --section-border-radius: var(--btcpay-border-radius-l);

  padding: var(--section-padding);
  background: var(--btcpay-bg-tile);
  border-radius: var(--section-border-radius);
  box-shadow: var(--btcpay-box-shadow-lg);
}
.tile .buttons {
  display: flex;
  flex-direction: column;
  gap: var(--btcpay-space-m);
}
.tile > :last-child {
  margin-bottom: 0;
}

@media (max-width: 400px) {
  .public-page-wrap {
    padding-left: 0;
    padding-right: 0;
    --wrap-padding-horizontal: 0;
  }
  .tile {
    --section-padding: 1rem;
    --section-border-radius: none;
  }
}

/* Badges */
.badge-new,
.badge-pending {
  background: #d4edda;
  color: #000;
}
.badge-expired {
  background: #eee;
  color: #000;
}
.badge-invalid {
  background: var(--btcpay-danger);
  color: var(--btcpay-danger-text);
}
.badge-unusual,
.badge-processing {
  background: var(--btcpay-warning);
  color: var(--btcpay-warning-text);
}
.badge-settled {
  background: var(--btcpay-success);
  color: var(--btcpay-success-text);
}

/* Blazor error */
#blazor-error-ui {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: var(--btcpay-danger);
  color: var(--btcpay-danger-text);
  padding: .6rem 1.75rem .7rem 1.25rem;
}
#blazor-error-ui .reload {
  color: inherit;
  text-decoration: underline;
}
#blazor-error-ui .dismiss{
  position: absolute;
  right: .75rem;
  top: .5rem;
  color: inherit;
  cursor: pointer;
}
