.public-page-wrap {
  max-width: 560px;
  overflow: hidden;
}

/* modes */
#ModeTabs {
  min-height: 2.75rem;
}

/* keypad */
.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.keypad button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: var(--btcpay-font-weight-semibold);
  font-size: 24px;
  min-height: 3.5rem;
  height: 8vh;
  max-height: 6rem;
  padding: 0 !important;
  border-radius: 0 !important;
  color: var(--btcpay-body-text) !important;
}
.keypad button[data-key="del"] svg {
  width: 2.25rem;
  height: 2.25rem;
  transform: rotate(180deg);
  transform-origin: center;
}
.btcpay-pills label,
.btn-secondary.rounded-pill {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* make borders collapse by shifting rows and columns by 1px */
/* second column */
.keypad button:nth-child(3n-1) {
  margin-left: -1px;
}
/* third column */
.keypad button:nth-child(3n) {
  margin-left: -1px;
}
/* from second row downwards */
.keypad button:nth-child(n+4) {
  margin-top: -1px;
}
/* ensure highlighted button is topmost */
.keypad button:hover,
.keypad button:focus,
.keypad button:active {
  z-index: 1;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.actions button {
  flex:  1 1 50%;
}

#Calculation {
  min-height: 1.5rem;
}

@media (max-height: 700px) {
  .store-header {
    display: none !important;
  }
}
@media (max-width: 575px) {
  .public-page-wrap {
    padding-right: 0;
    padding-left: 0;
  }
  .keypad {
    margin-left: -1px;
    margin-right: -1px;
  }
  .store-footer {
    display: none !important;
  }
}
/* fix sticky hover effect on mobile browsers */
@media (hover: none) {
  .keypad .btn-secondary:hover,
  .actions .btn-secondary:hover {
    border-color: var(--btcpay-secondary-border-active) !important;
  }
}
