:root {
}

.mud-icon-button,
.mud-button-text {
  --btcpay-btn-disabled-opacity: 0.65;

  color: var(--btcpay-btn-color) !important;
  border: 1px solid var(--btcpay-btn-border-color) !important;
  border-radius: var(--btcpay-btn-border-radius) !important;
  background-color: var(--btcpay-btn-bg) !important;
  padding: var(--btcpay-btn-padding-y) var(--btcpay-btn-padding-x) !important;
}

.mud-icon-button:hover,
.mud-button-text:hover,
.mud-icon-button:focus-visible,
.mud-button-text:focus-visible {
  color: var(--btcpay-btn-hover-color) !important;
  background-color: var(--btcpay-btn-hover-bg) !important;
  border-color: var(--btcpay-btn-hover-border-color) !important;
}

.mud-icon-button:disabled,
.mud-button-text:disabled {
  color: var(--btcpay-btn-disabled-color) !important;
  background-color: var(--btcpay-btn-disabled-bg) !important;
  border-color: var(--btcpay-btn-disabled-border-color) !important;
  opacity: var(--btcpay-btn-disabled-opacity) !important;
}

.mud-button-text-primary,
.mud-button-filled-primary {
  --btcpay-btn-color: var(--btcpay-primary-text);
  --btcpay-btn-bg: var(--btcpay-primary);
  --btcpay-btn-border-color: var(--btcpay-primary-border);
  --btcpay-btn-hover-color: var(--btcpay-primary-text-hover);
  --btcpay-btn-hover-bg: var(--btcpay-primary-bg-hover);
  --btcpay-btn-hover-border-color: var(--btcpay-primary-border-hover);
  --btcpay-btn-focus-shadow-rgb: var(--btcpay-primary-shadow);
  --btcpay-btn-active-color: var(--btcpay-primary-text-active);
  --btcpay-btn-active-bg: var(--btcpay-primary-bg-active);
  --btcpay-btn-active-border-color: var(--btcpay-primary-border-active);
  --btcpay-btn-disabled-color: var(--btcpay-primary-text);
  --btcpay-btn-disabled-bg: var(--btcpay-primary);
  --btcpay-btn-disabled-border-color: var(--btcpay-primary-border);
}
.mud-icon-button.mud-button-outlined,
.mud-button-text-default,
.mud-button-text-secondary,
.mud-button-filled-secondary {
  --btcpay-btn-color: var(--btcpay-secondary-text);
  --btcpay-btn-bg: var(--btcpay-secondary);
  --btcpay-btn-border-color: var(--btcpay-secondary-border);
  --btcpay-btn-hover-color: var(--btcpay-secondary-text-hover);
  --btcpay-btn-hover-bg: var(--btcpay-secondary-bg-hover);
  --btcpay-btn-hover-border-color: var(--btcpay-secondary-border-hover);
  --btcpay-btn-focus-shadow-rgb: var(--btcpay-secondary-shadow);
  --btcpay-btn-active-color: var(--btcpay-secondary-text-active);
  --btcpay-btn-active-bg: var(--btcpay-secondary-bg-active);
  --btcpay-btn-active-border-color: var(--btcpay-secondary-border-active);
  --btcpay-btn-disabled-color: var(--btcpay-secondary-text);
  --btcpay-btn-disabled-bg: var(--btcpay-secondary);
  --btcpay-btn-disabled-border-color: var(--btcpay-secondary-border);
}

.mud-icon-button-size-large,
.mud-button-text-size-large {
  --btcpay-btn-padding-y: 1rem;
  --btcpay-btn-padding-x: 2rem;
  --btcpay-btn-font-size: 1rem;
  --btcpay-btn-border-radius: var(--btcpay-border-radius-l);
}

.mud-icon-button-size-medium,
.mud-button-text-size-medium {
  --btcpay-btn-padding-x: 1.5rem;
  --btcpay-btn-padding-y: 0.5rem;
  --btcpay-btn-font-size: 0.875rem;
  --btcpay-btn-border-radius: var(--btcpay-border-radius);
}

.mud-icon-button-size-small,
.mud-button-text-size-small {
  --btcpay-btn-padding-y: 0.5rem;
  --btcpay-btn-padding-x: 1.5rem;
  --btcpay-btn-font-size: 0.75rem;
  --btcpay-btn-border-radius: var(--btcpay-border-radius);
}
