@media (min-width: 0px) {
  #OnboardingCarousel {
    min-height: 430px;
  }
}
@media (min-width: 320px) {
  #OnboardingCarousel {
    min-height: 410px;
  }
}
@media (min-width: 480px) {
  #OnboardingCarousel {
    min-height: 380px;
  }
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.fw-semibold {
  font-weight: var(--btcpay-font-weight-semibold);
}
