@inherits LayoutComponentBase
<HxMessageBoxHost />
<HxMessenger  />
<PageTitle>Comrade</PageTitle>
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
  <MudAppBar Elevation="1">
      <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(e => DrawerToggle())"/>
      <MudText Typo="Typo.h5" Class="ml-3">BTCPay Comrade</MudText>
      <MudSpacer />
      <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
  </MudAppBar>
  <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
    <MudNavMenu>
      <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
      <MudNavLink Href="/Counter" Match="NavLinkMatch.Prefix">Counter</MudNavLink>
    </MudNavMenu>
  </MudDrawer>
  <MudMainContent>
    <div class="page">
      <main class="content px-4">
        @Body
      </main>
    </div>
  </MudMainContent>
</MudLayout>

@code {
  bool _drawerOpen;

  void DrawerToggle()
  {
    _drawerOpen = !_drawerOpen;
  }
}
