#NavbarBottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: var(--navbar-bottom-height);
  background-color: var(--btcpay-bg-tile);
}

.navbar-nav {
  margin: 0 auto;
  flex-direction: row;
  flex-grow: 1;
  max-width: 25rem;
}

.nav-item {
  flex: 1 1 20%;
}

::deep .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: var(--btcpay-space-xs);
  padding: var(--btcpay-space-s);
  text-align: center;
  color: var(--btcpay-body-text-muted);
}

::deep .nav-link.disabled {
  opacity: .5;
  pointer-events: none;
}

::deep .nav-link span {
  font-size: var(--btcpay-font-size-s);
  font-weight: var(--btcpay-font-weight-semibold);
}

::deep .nav-link .icon {
  width: var(--icon-size);
  height: var(--icon-size);
}
::deep .nav-link .icon.icon-wallet-existing {
  padding: .125rem;
}

::deep .nav-link:hover,
::deep .nav-link.active {
  color: var(--btcpay-body-text);
}
