<section id="Titlebar" class="container d-flex align-items-center justify-content-between p-3 @(Fixed ? "fixed" : null)">
    <div class="titlebar-start">
        @if (!string.IsNullOrEmpty(Back))
        {
            <NavLink class="btn-close btn-back" href="@Back">
                <Icon symbol="back"/>
            </NavLink>
        }
    </div>
    <div class="titlebar-center">
        @ChildContent
    </div>
    <div class="titlebar-end">
        <SectionOutlet SectionId="End" />
    </div>
</section>

@code {
    public static readonly SectionOutlet End = new();

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Back { get; set; }

    [Parameter]
    public bool Fixed { get; set; } = true;
}
