#Titlebar {
  height: var(--navbar-top-height);
  display: flex;
  justify-content: space-between;
  background-color: var(--btcpay-body-bg);
  padding: 0 var(--btcpay-space-s);
}

#Titlebar.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.titlebar-start,
.titlebar-end {
  flex: 0 0 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titlebar-center {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: var(--btcpay-space-xs) var(--btcpay-space-s);
}

::deep .btn-icon {
  --icon-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-size);
  height: var(--icon-size);
  padding: .5rem;
  box-sizing: content-box;
  color: var(--btcpay-body-text);
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: var(--btcpay-border-radius);
  opacity: .5;
  text-decoration: none;
}

::deep .btn-icon:focus,
::deep .btn-icon:hover {
  opacity: .75;
}

::deep .btn-icon:disabled,
::deep .btn-icon.disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: .25;
}

::deep .btn-icon .icon {
  position: static;
  top: auto;
  width: var(--icon-size);
  height: var(--icon-size);
}
::deep h1 {
  font-size: 1rem;
  font-weight: var(--btcpay-font-weight-semibold);
  margin: 0;
}
